.buttonDelete {
  color: #494949 !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;

  border: 0px solid #494949 !important;
  display: inline-block;
  transition: all 0.4s ease 0s;
  margin-left: 25px;
}

.buttonDelete:hover {
  color: #ffffff !important;
  background: #f6b93b;
  border-color: #f6b93b !important;
  transition: all 0.4s ease 0s;
  cursor: pointer;
}